# MongoDB
MONGODB_URI=mongodb+srv://elid:Erue@003@@elid.jl5vid8.mongodb.net/elid?appName=elid

# NextAuth
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000

# Email (Nodemailer)
EMAIL_SERVICE=gmail
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
EMAIL_FROM=noreply@eventsandmore.ng
EMAIL_ADMIN=admin@eventsandmore.ng

# Optional: For production
NODE_ENV=development
